.button {
  border: none;
}

.primary {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 0 24px;
  padding: 13px 40px;
}

.ghost {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.danger {
  color: #ff0023;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}
